<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/png" href="favicon.png">
  <title>viplab-standalone-frontend-vue</title>
</head>
<style>
  html,
  body {
    min-height: 100%;
    overflow: auto;
  }

  body {
    background-color: #ddd !important;
  }
</style>

<body data-template='<%= dataTemplate %>' data-token='<%= token %>' data-mode='<%= dataMode %>'>
  <noscript>
    <strong>We're sorry but vue-viplab-frontend doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div class="outer-div">
    <div class="m-2">
    </div>
    <!-- built files will be auto injected in the div with id="app" -->
    <div id="app">
    </div>
  </div>
</body>

</html>